.footer{
    flex-shrink: 0;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
}
 h4 {
    align-items: center;
 }

h4 > a {
    color: white;
    text-decoration: none;
}

h4 > span {
    color: white;
}