/* Small devices (landscape phones, 576px and up) */
  .nav {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    color: white;
  }


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .nav {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    color: white;
  }
}

  ul > li {
    text-align: center;
  }

ul a {
  text-decoration: none;
  color: white;
}